html {
  font-family: 'Ubuntu', sans-serif;
  touch-action: manipulation;
}

body {
  width: 100vw;
}

h1 {
  margin: 3vw 5vw 3vw;
  width: 90vw;
  font-size: 10vw;
}

h2 {
  margin: 3vw 5vw 3vw;
  width: 90vw;
  font-size: 8vw;
}

p {
  /* font-size: 1em; */
}

ul.table-ul {
  display: table;
}

li.table-li {
  display: table-cell;
}

span#count {}

ul#coin-times {
  width: 92vw;
  margin: 1vw 4vw;
}

ul.status-ul {
  width: 92vw;
  margin: 0vw 2vw;
}

li.status-li {}

div.card {
  margin: 4vw;
  text-align: center;
}

div.poison-burn {
  width: 40vw;
  height: 28vw;
}

div.status-etc {
  width: 24vw;
  height: 24vw;
}

img.status-img {
  margin: 6vw 0vw;
  height: 16vw;
}

button.times {
  width: 16vw;
}

div#coins-screen {
  margin: 2vw 5vw 2vw;
  width: 90vw;
  height: 12vw;
  font-size: 14vw;
}

ul#field-ul {
  margin: 2vw 5vw;
  width: 90vw
}

li.field {
  text-align: center;
  width: 8vw;
  font-size: 8vw;
}

div#poison {
  background-color: rgb(255, 200, 255);
}
div#burn {
  background-color: rgb(255, 200, 200);
}
div#sleep {
  background-color: rgb(200, 240, 255);
}
div#paralysis {
  background-color: rgb(200, 255, 170);
}
div#confusion {
  background-color: rgb(255, 255, 200);
}

.disable-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
