html {
  font-family: 'Ubuntu', sans-serif;
  touch-action: manipulation;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
}

h1 {
  margin: 1.4rem 1.4rem;
  font-size: 3.2rem;
}

h2 {
  margin: 1.0rem 1.4rem;
  font-size: 2.6rem;
}

/* For Modals */
ul.style-ul {
  list-style-type: square;
  padding-left: 0.5em;
}

/* For Field */
div.container-bfield {
  display: flex;
  justify-content: space-around;
}

div.container-bench {
  display: flex;
  justify-content: space-around;
}

div.field {
  margin: 0.5rem 1.5rem;
  font-size: 2.4rem;
}

/* For Times of throwing-coin */
div.container-ctimes {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
}

button.item-ctimes {
  width: 4.5rem;
}

div#coins-screen {
  margin: 0rem 1.5rem;
  height: 4.2rem;
  font-size: 4.2rem;
}

/* For Status div-tag */
div.container-status {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
}

div.item-pb {
  width: 12rem;
  height: 8rem;
  box-shadow: 3px 3px 3px rgb(230, 230, 230);
  background-size: auto 61.8%;
  background-position: center;
  background-repeat: no-repeat;
}

div.item-spc {
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: 3px 3px 3px rgb(230, 230, 230);
  background-size: auto 61.8%;
  background-position: center;
  background-repeat: no-repeat;
}

div#poison {
  background-image: url("./img/medical_doku.png");
  background-color: rgb(255, 200, 255);
}

div#burn {
  background-image: url("./img/honoo_hi_fire.png");
  background-color: rgb(255, 200, 200);
}

div#sleep {
  background-image: url("./img/shirokuma_sleep.png");
  background-color: rgb(200, 240, 255);
}

div#paralysis {
  background-image: url("./img/kanden_gaikotsu.png");
  background-color: rgb(200, 255, 170);
}

div#confusion {
  background-image: url("./img/sick_noiroze_woman.png");
  background-color: rgb(255, 255, 200);
}

div.disable-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
