html {
  touch-action: manipulation;
}

body {
  width: 100vw;
  text-align: center;
}

h1 {
margin: 3vw;
width: 95vw;
font-size: 12vw;
}

span#count {

}

ul {
  margin: auto;
  width: 95vw;
  text-align: center;
  display: table;
}
li {
  width: 20vw;
  display: table-cell;
}
button {
  width: 16vw;
}

div#screen {
  margin: auto;
  width: 100vw;
  font-size: 16vw;
}
